/* navbar */

.navbar-default {
    background-color: #992f2e;
    border-color: transparent;
}

/* title */

.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ECEFF1;
}

/* link */

.navbar-default .navbar-nav > li > a {
    color: #B0BEC5;
    /*border-bottom: solid 3px transparent;*/
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ECEFF1;
    /*border-bottom: solid 3px #FFD54F;*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ECEFF1;
    background-color: #992f2e;
    z-index: -1;
    /*border-bottom: solid 3px #FFD54F;*/
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #992f2e;
}

/* caret */

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */

.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #992f2e;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #992f2e;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #37474F;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #37474F;
    }
    .divider-vertical {
        height: 0;
        border-left: 0;
        border-right: 0;
    }
}
@media (min-width: 768px) {
    .nav .navbar-nav > li {
        display: inline;
        padding-left: 30px;
        padding-right: 30px;
    }
    .meh li + li::before {
        content: '';
        border-left: 2px solid #FFFFFF;
        position: absolute;
        height: 50%;
        left: 0;
        top: 25%;
    }
}
.navbar {
    border-radius: 0px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
.yo {
    text-align: center;
}
.navbar .divider-vertical {
    height: 42px;
    margin: 0 10px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}
