textarea {
    text-align: right;
    min-width: 97%;
    max-width: 97%;
    min-height: 2rem;
    max-height: 2rem;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: auto;
    background-color: #888;
    color: white;
    outline: none;
    pointer-events: none;
}

table,
tr{
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #888;
}

button {
    background-color: #888;
    border: .001rem solid darkgrey;
    padding: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 8rem;
}

button:hover {
    background-color: darkgrey;
    text-align: center;
    color: black;
    display: inline-block;
    cursor: pointer;
}
